.show-title{
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid;
}

.show-title:hover{
  border-bottom: 4px solid;
}

.align-center{
  text-align: center;
}

.show-list{
  list-style-type: none;
}

.shows-div{
  margin: 0 400px;
}

.show-link{
  text-decoration: none;
  display: block;
}
